# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/
.gitignore
.gitattributes

# README
README.md

# Database scripts (don't need them in image)
db-seed*.sql

# Postman
postman-collection-complete.json

